In [1]:
import pandas as pd
import numpy as np

import sys
import re
import os
project_path = os.getcwd()

In [2]:
project_path

'C:\\Users\\yysgz\\OneDrive - Macquarie University\\Desktop\\Re-HAN_Model'

## offline detection results statistics

### load results

In [3]:
num_days = 7
num_block = 0
data_path = project_path + '/results/offline_embeddings_' + str(num_days) + '_days/block_' + str(num_block)
save_path = project_path + '/results/offline_embeddings_' + str(num_days) + '_days'
print(data_path)

C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_7_days/block_0

### extract model results

In [4]:
metrics_list = ['NMI', 'AMI', 'ARI', 'NMI_std', 'AMI_std', 'ARI_std']
model_list = ['LDA', 'BERT', 'MLP', 'HAN', 'PPGCN', 'KPGNN', 'FinEvent', 'ReDHAN']

In [5]:
df = pd.DataFrame(index=model_list, columns=metrics_list)
df_origin = pd.DataFrame()
for i in range(len(model_list)):
    model_name = model_list[i]
    print(model_name)
    result_path = data_path + '/' + model_name + '/evaluate.txt'
#     print(result_path)
    if not os.path.exists(result_path):
        continue
    else:
        print(result_path)
    NMI_list = []
    AMI_list = []
    ARI_list = []
    with open(result_path, 'r') as f:
        for line in f.readlines():
            if re.match(r'(test NMI:)', line.strip('\t'), re.IGNORECASE):
                nmi_value = line.split(':')[-1].strip()
                NMI_list.append(float(nmi_value))
#                 NMI_list.append('%.3f'%float(nmi_value))
            elif re.match(r'test AMI:', line.strip('\t'), re.IGNORECASE):  # 正则不区分大小写
                ami_value = line.split(':')[-1].strip()
                AMI_list.append(float(ami_value))
#                 AMI_list.append('%.3f'%float(ami_value))
            elif re.match(r'(test ARI:)', line.strip('\t'), re.IGNORECASE):
                ari_value = line.split(':')[-1].strip()
                ARI_list.append(float(ari_value))
#                 ARI_list.append('%.3f'%float(ari_value))
#     print(NMI_list)
#     if len(NMI_list) != 5:
#         print("model results exceeds 5")
#         sys.exit()
    # write in result data
    df_model = pd.DataFrame(data={model_name + '_NMI':NMI_list,
                                model_name + '_AMI':AMI_list,
                                model_name + '_ARI':ARI_list})
    print(df_model)
    df_origin = pd.concat([df_origin, df_model], axis=1)
    df.loc[model_name, 'NMI'] = '%.3f'%np.mean(NMI_list)
    df.loc[model_name, 'AMI'] = '%.3f'%np.mean(AMI_list)
    df.loc[model_name, 'ARI'] = '%.3f'%np.mean(ARI_list)
    df.loc[model_name, 'NMI_std'] = '%.3f'%np.std(NMI_list)
    df.loc[model_name, 'AMI_std'] = '%.3f'%np.std(AMI_list)
    df.loc[model_name, 'ARI_std'] = '%.3f'%np.std(ARI_list)

LDA
BERT
MLP
HAN
PPGCN
KPGNN
FinEvent
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_7_days/block_0/FinEvent/evaluate.txt
   FinEvent_NMI  FinEvent_AMI  FinEvent_ARI
0      0.803875      0.708964      0.345184
1      0.800246      0.703266      0.302878
2      0.808777      0.713935      0.376213
3      0.782810      0.673060      0.287294
4      0.800615      0.704084      0.360651
ReDHAN
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_7_days/block_0/ReDHAN/evaluate.txt
   ReDHAN_NMI  ReDHAN_AMI  ReDHAN_ARI
0    0.767563    0.658145    0.446751
1    0.772090    0.657904    0.362791
2    0.790972    0.692138    0.570998
3    0.788787    0.687481    0.465604
4    0.772977    0.661537    0.441885

In [6]:
df

            NMI    AMI    ARI NMI_std AMI_std ARI_std
LDA         NaN    NaN    NaN     NaN     NaN     NaN
BERT        NaN    NaN    NaN     NaN     NaN     NaN
MLP         NaN    NaN    NaN     NaN     NaN     NaN
HAN         NaN    NaN    NaN     NaN     NaN     NaN
PPGCN       NaN    NaN    NaN     NaN     NaN     NaN
KPGNN       NaN    NaN    NaN     NaN     NaN     NaN
FinEvent  0.799  0.701  0.334   0.009   0.014   0.034
ReDHAN    0.778  0.671  0.458   0.010   0.015   0.067

In [7]:
df_origin

,FinEvent_NMI,FinEvent_AMI,FinEvent_ARI,ReDHAN_NMI,ReDHAN_AMI,ReDHAN_ARI
0,0.803875,0.708964,0.345184,0.767563,0.658145,0.446751
1,0.800246,0.703266,0.302878,0.772090,0.657904,0.362791
2,0.808777,0.713935,0.376213,0.790972,0.692138,0.570998
3,0.782810,0.673060,0.287294,0.788787,0.687481,0.465604
4,0.800615,0.704084,0.360651,0.772977,0.661537,0.441885

In [8]:
writer = pd.ExcelWriter(save_path + '/results_statistics'+'_'+str(num_days)+'_days' +'_block_'+ str(num_block) +'.xlsx')
df.to_excel(writer, sheet_name = 'Sheet1')
df_origin.to_excel(writer, sheet_name='Sheet2', index=True)
writer.save()
writer.close()

C:\Users\yysgz\AppData\Local\Temp\ipykernel_7204\612438517.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [94]:
# df.to_excel(project_path + '/results_statistics'+'_'+str(num_days)+'_days' + '.xlsx', sheet_name='Sheet1')
# df_origin.to_excel(project_path + '/results_statistics'+'_'+str(num_days)+'_days' + '.xlsx', sheet_name='Sheet2', index=True)