In [1]:
import pandas as pd
import numpy as np

import sys
import re
import os
project_path = os.getcwd()

In [2]:
project_path

'C:\\Users\\yysgz\\OneDrive - Macquarie University\\Desktop\\Re-HAN_Model'

## offline detection results statistics

### load results

In [17]:
num_days = 3
num_block = 0
data_path = project_path + '/results/offline_embeddings_' + str(num_days) + '_days/block_' + str(num_block)
save_path = project_path + '/results/offline_embeddings_' + str(num_days) + '_days'
print(data_path)

C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0

### extract model results

In [18]:
metrics_list = ['NMI', 'AMI', 'ARI', 'NMI_std', 'AMI_std', 'ARI_std']
model_list = ['LDA', 'BERT', 'MLP', 'HAN', 'PPGCN', 'KPGNN', 'FinEvent', 'ReDHAN']

In [19]:
df = pd.DataFrame(index=model_list, columns=metrics_list)
df_origin = pd.DataFrame()
for i in range(len(model_list)):
    model_name = model_list[i]
    print(model_name)
    result_path = data_path + '/' + model_name + '/evaluate.txt'
#     print(result_path)
    if not os.path.exists(result_path):
        continue
    else:
        print(result_path)
    NMI_list = []
    AMI_list = []
    ARI_list = []
    with open(result_path, 'r') as f:
        for line in f.readlines():
            if re.match(r'(test NMI:)', line.strip('\t'), re.IGNORECASE):
                nmi_value = line.split(':')[-1].strip()
                NMI_list.append(float(nmi_value))
#                 NMI_list.append('%.3f'%float(nmi_value))
            elif re.match(r'test AMI:', line.strip('\t'), re.IGNORECASE):  # 正则不区分大小写
                ami_value = line.split(':')[-1].strip()
                AMI_list.append(float(ami_value))
#                 AMI_list.append('%.3f'%float(ami_value))
            elif re.match(r'(test ARI:)', line.strip('\t'), re.IGNORECASE):
                ari_value = line.split(':')[-1].strip()
                ARI_list.append(float(ari_value))
#                 ARI_list.append('%.3f'%float(ari_value))
#     print(NMI_list)
#     if len(NMI_list) != 5:
#         print("model results exceeds 5")
#         sys.exit()
    # write in result data
    df_model = pd.DataFrame(data={model_name + '_NMI':NMI_list,
                                model_name + '_AMI':AMI_list,
                                model_name + '_ARI':ARI_list})
    print(df_model)
    df_origin = pd.concat([df_origin, df_model], axis=1)
    df.loc[model_name, 'NMI'] = '%.3f'%np.mean(NMI_list)
    df.loc[model_name, 'AMI'] = '%.3f'%np.mean(AMI_list)
    df.loc[model_name, 'ARI'] = '%.3f'%np.mean(ARI_list)
    df.loc[model_name, 'NMI_std'] = '%.3f'%np.std(NMI_list)
    df.loc[model_name, 'AMI_std'] = '%.3f'%np.std(AMI_list)
    df.loc[model_name, 'ARI_std'] = '%.3f'%np.std(ARI_list)

LDA
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/LDA/evaluate.txt
    LDA_NMI   LDA_AMI   LDA_ARI
0  0.558410  0.413382  0.106569
1  0.604409  0.463885  0.159239
2  0.574992  0.426992  0.114750
3  0.555995  0.401445  0.118025
4  0.597069  0.457376  0.136148
BERT
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/BERT/evaluate.txt
   BERT_NMI  BERT_AMI  BERT_ARI
0  0.542184  0.363972  0.095056
1  0.548375  0.381986  0.100463
2  0.522335  0.341516  0.091859
3  0.526536  0.346577  0.090538
4  0.510440  0.324514  0.088918
MLP
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/MLP/evaluate.txt
    MLP_NMI   MLP_AMI   MLP_ARI
0  0.763989  0.671724  0.569514
1  0.770883  0.690347  0.686134
2  0.755864  0.665559  0.637523
3  0.778403  0.695687  0.771674
4  0.760971  0.671299  0.694030
HAN
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/HAN/evaluate.txt
    HAN_NMI   HAN_AMI   HAN_ARI
0  0.724155  0.623628  0.497632
1  0.728560  0.624889  0.509202
2  0.737511  0.636831  0.328611
3  0.737884  0.635422  0.430349
4  0.708211  0.593803  0.371329
PPGCN
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/PPGCN/evaluate.txt
   PPGCN_NMI  PPGCN_AMI  PPGCN_ARI
0   0.663596   0.558505   0.762455
1   0.665971   0.558295   0.788393
2   0.679133   0.578457   0.811145
3   0.626506   0.515902   0.740324
4   0.656822   0.555515   0.803891
KPGNN
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/KPGNN/evaluate.txt
   KPGNN_NMI  KPGNN_AMI  KPGNN_ARI
0   0.766629   0.674890   0.313397
1   0.767567   0.675722   0.347830
2   0.775876   0.689467   0.310866
3   0.784218   0.702108   0.341645
4   0.774342   0.687206   0.334619
FinEvent
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/FinEvent/evaluate.txt
   FinEvent_NMI  FinEvent_AMI  FinEvent_ARI
0      0.801472      0.725375      0.375430
1      0.750309      0.649743      0.226774
2      0.779780      0.694843      0.264580
3      0.787645      0.707688      0.373853
4      0.783899      0.702978      0.289101
ReDHAN
C:\Users\yysgz\OneDrive - Macquarie University\Desktop\Re-HAN_Model/results/offline_embeddings_3_days/block_0/ReDHAN/evaluate.txt
    ReDHAN_NMI  ReDHAN_AMI  ReDHAN_ARI
0     0.807569    0.734680    0.824408
1     0.805648    0.734923    0.688155
2     0.791381    0.714374    0.552351
3     0.773320    0.688933    0.401770
4     0.764713    0.674210    0.464130
5     0.757721    0.670440    0.541918
6     0.789456    0.710505    0.323968
7     0.791530    0.711467    0.353234
8     0.798059    0.718970    0.472442
9     0.759111    0.664491    0.334116
10    0.794728    0.712827    0.381307
11    0.767477    0.679986    0.383641
12    0.737315    0.642840    0.483598
13    0.711911    0.604533    0.320836
14    0.734210    0.634588    0.350215
15    0.709071    0.599632    0.331337

In [20]:
df

            NMI    AMI    ARI NMI_std AMI_std ARI_std
LDA       0.578  0.433  0.127   0.020   0.024   0.019
BERT      0.530  0.352  0.093   0.014   0.020   0.004
MLP       0.766  0.679  0.672   0.008   0.012   0.067
HAN       0.727  0.623  0.427   0.011   0.016   0.070
PPGCN     0.658  0.553  0.781   0.018   0.020   0.026
KPGNN     0.774  0.686  0.330   0.006   0.010   0.015
FinEvent  0.781  0.696  0.306   0.017   0.025   0.060
ReDHAN    0.768  0.681  0.450   0.031   0.042   0.139

In [21]:
df_origin

,LDA_NMI,LDA_AMI,LDA_ARI,BERT_NMI,BERT_AMI,BERT_ARI,MLP_NMI,MLP_AMI,MLP_ARI,HAN_NMI,...,PPGCN_ARI,KPGNN_NMI,KPGNN_AMI,KPGNN_ARI,FinEvent_NMI,FinEvent_AMI,FinEvent_ARI,ReDHAN_NMI,ReDHAN_AMI,ReDHAN_ARI
0,0.558410,0.413382,0.106569,0.542184,0.363972,0.095056,0.763989,0.671724,0.569514,0.724155,...,0.762455,0.766629,0.674890,0.313397,0.801472,0.725375,0.375430,0.807569,0.734680,0.824408
1,0.604409,0.463885,0.159239,0.548375,0.381986,0.100463,0.770883,0.690347,0.686134,0.728560,...,0.788393,0.767567,0.675722,0.347830,0.750309,0.649743,0.226774,0.805648,0.734923,0.688155
2,0.574992,0.426992,0.114750,0.522335,0.341516,0.091859,0.755864,0.665559,0.637523,0.737511,...,0.811145,0.775876,0.689467,0.310866,0.779780,0.694843,0.264580,0.791381,0.714374,0.552351
3,0.555995,0.401445,0.118025,0.526536,0.346577,0.090538,0.778403,0.695687,0.771674,0.737884,...,0.740324,0.784218,0.702108,0.341645,0.787645,0.707688,0.373853,0.773320,0.688933,0.401770
4,0.597069,0.457376,0.136148,0.510440,0.324514,0.088918,0.760971,0.671299,0.694030,0.708211,...,0.803891,0.774342,0.687206,0.334619,0.783899,0.702978,0.289101,0.764713,0.674210,0.464130
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.757721,0.670440,0.541918
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.789456,0.710505,0.323968
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.791530,0.711467,0.353234
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.798059,0.718970,0.472442
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.759111,0.664491,0.334116
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.794728,0.712827,0.381307
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.767477,0.679986,0.383641
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.737315,0.642840,0.483598
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.711911,0.604533,0.320836
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.734210,0.634588,0.350215
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.709071,0.599632,0.331337

In [22]:
writer = pd.ExcelWriter(save_path + '/results_statistics'+'_'+str(num_days)+'_days' +'_block_'+ str(num_block) +'.xlsx')
df.to_excel(writer, sheet_name = 'Sheet1')
df_origin.to_excel(writer, sheet_name='Sheet2', index=True)
writer.save()
writer.close()

C:\Users\yysgz\AppData\Local\Temp\ipykernel_12808\612438517.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [94]:
# df.to_excel(project_path + '/results_statistics'+'_'+str(num_days)+'_days' + '.xlsx', sheet_name='Sheet1')
# df_origin.to_excel(project_path + '/results_statistics'+'_'+str(num_days)+'_days' + '.xlsx', sheet_name='Sheet2', index=True)